<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"/>
	</head>
	<body>
		<h1>Hello</h1>
		<h2>At the moment, auto-photo mode is: {{mode | upper}}</h2>
		<br/>
		<h3>To turn on auto-mode -> visit <a href="http://0.0.0.0:5000/auto-mode/on">/auto-mode/on</a></h3>
		<p>Once movement detected for 3 consecutive seconds, photo is taken and sent via Gmail.</p>
		<p>When auto-mode is on, we can NOT take photos manually.</p>
		<h3>To turn off auto-mode -> visit <a href="http://0.0.0.0:5000/auto-mode/off">/auto-mode/off</a></h3>
		<p>When auto-mode is off, we can take photos manually. To do so, go to <a href="http://0.0.0.0:5000/take-photo-now">http://0.0.0.0:5000/take-photo-now</a>.</p>
		<h3>To check the log and the last photo taken -> visit <a href="http://0.0.0.0:5000/check-movement">/check-movement</a></h3>
	</body>
</html>
