<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap" rel="stylesheet">
	</head>
	<body>
		<h1>Index</h1>
		<h2>At the moment, auto-photo mode is: {{mode | upper}}</h2>
		<br/>
		<h3>How to use the camera</h3>
			<div class="box1">
				<h4>1. Auto mode</h4>
				<div class="box1">
					<p>To turn on auto-mode -> Go to <a href="http://{{host_port}}/auto-mode/on">/auto-mode/on</a></p>
					<p>To turn off auto-mode -> Go to <a href="http://{{host_port}}/auto-mode/off">/auto-mode/off</a></p>
					<p>Once movement detected for 3 consecutive seconds, photo is taken and sent via Gmail.</p>
				</div>
				<h4>2. Manual mode</h4>
				<div class="box1">
					<p>When auto-mode is off, we can take photos manually. To do so, go to <a href="http://{{host_port}}/take-photo-now">http://{{host_port}}/take-photo-now</a>.</h5>		
					<p>When auto-mode is on, we can NOT take photos manually.</p>
				</div>
			</div>
		<h3>How to check the log or the last photo</h3>
			<div class="box1">
				<h4>1. To check the log and the last photo taken (boring version)-> Go to <a href="http://{{host_port}}/check-movement">/check-movement</a></h4>
				<h4>2. To check the log and the last photo taken (amusing version) -> Go to <a href="http://{{host_port}}/check-movement-2">/check-movement-2</a></h4>
			</div>
		<br/>
		<img id="media" src="https://media.giphy.com/media/pPOhvdgk9kcYyTToA/giphy.gif" alt="GIF" width="30%" height="30%">
		<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
	</body>
		
</html>
